:host {
  display: block;
  width: 100%;
  height: 100%;
}

.Galerie {
	position: absolute;
}

.cadreOpacity {
  transition: 1s;
}

.fleche {
	transition: 1s;
	position: absolute;
	border: none;
	background: none;
	transform-origin: center;
	align-items: center;
}

.fleche img {
	background: none;
	border: none;
  cursor: pointer;
}

img {
	position: absolute;
	transition: 1s ease;
	background-color: white;
	border: 1px solid black;
  background-image: url("load.gif");
  background-repeat: no-repeat;
  background-position: center;
}
