/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
